/*
|---------------------------------------------------------------|
|		개인프로젝트 #051                                           	|
|         디스코드 테마 마스터 코드 작성                                  |
|            CodeMakeBy : (게임존)고속기차                           	|
|              개발시작일 : 20-10-15 | 개발완료일 : 미정                 	|
|---------------------------------------------------------------|
*/

/*
테마다크 와 관련된 코드 정의
*/
.theme-dark{
--background-primary:transparent;
--background-secondary:transparent;
--background-secondary-alt:transparent;
--background-tertiary:transparent;
--header-primary:var(--col1)!important;
--header-secondary:var(--col1)!important;
--text-normal:var(--col1)!important;
--text-muted:var(--col1)!important;
--text-link:var(--col1)!important;
--channels-default:var(--col1)!important;
--interactive-normal:var(--col2)!important;
--interactive-hover:var(--col3)!important;
--interactive-active:var(--col1)!important;
--interactive-muted:var(--col4)!important;
}
